body {

    background: linear-gradient(0deg, rgba(165,228,255,1) 0%, rgba(91,200,242,1) 29%, rgba(54,129,207,1) 58%, rgba(15,42,138,1) 100%);
}

 @font-face {
     src:none;
     font-family: 'Pixelify Sans', cursive;
     font-family: 'Roboto Mono', monospace;
}

.SVcontainer {
    display: flex;
    justify-content: center;
}

.SVcontainer img {
    width: 1000px;
}

h1{
    font-family: 'Pixelify Sans', cursive;
    font-size: -webkit-xxx-large;
    margin: 35px 0px 4px 45px;
    border-bottom: solid sandybrown 2px;
    }

section,p{
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    font-style: oblique;
    font-weight:bolder;
    padding: 5px 350px 0px 45px;

}

